<ng-container class="container">
  <h1>Countries of the World</h1>
  <form role="search" class="wrapper">
    <input
      type="text"
      class="search"
      [formControl]="searchBy"
      placeholder="Search by all"
    />
  </form>
  <table class="responsive-table">
    <thead>
      <tr>
        <th>
          Official Name
          <button type="button" (click)="switchSort()">
            {{ sortType === "ASC" ? "Descend" : "Ascend" }}
          </button>
        </th>
        <th>Capital</th>
        <th>Region</th>
        <th>Language</th>
        <th>Population</th>
        <th>Flag</th>
      </tr>
    </thead>
    <tbody>
      <tr
        appTableRow
        [countryName]="country.official_name"
        *ngFor="
          let country of countryList
            | filterBy: searchBy.value
            | sort: sortType
            | pagination: limits[0]:limits[1]
        "
      >
        <td>
          {{ country.official_name }}
        </td>
        <td>
          {{ country.capital | arrayToString }}
        </td>
        <td>
          {{ country.region }}
        </td>
        <td>
          {{ country.language | objectValues | arrayToString }}
        </td>
        <td>
          {{ country.population }}
        </td>
        <td>
          {{ country.flag }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="wrapper">
    <button
      (click)="paginate(currentIndex - 1)"
      [disabled]="currentIndex === 0"
    >
      ❮
    </button>
    <button
      (click)="paginate(currentIndex + 1)"
      [disabled]="limits[1] === countryList.length - 1"
    >
      ❯
    </button>
  </div>
</ng-container>
