<ng-container class="container">
  <h2>Countries of the World</h2>
  <div></div>
  <table>
    <thead>
      <input
        type="text"
        [formControl]="searchBy"
        placeholder="Search by all"
      />
      <hr />
      <tr>
        <th>
          Official Name
          <button type="button" (click)="switchSort()">
            {{ sortType === "ASC" ? "Descend" : "Ascend" }}
          </button>
        </th>
        <th>Capital</th>
        <th>Region</th>
        <th>Language</th>
        <th>Population</th>
        <th>Flag</th>
      </tr>
    </thead>
    <tbody>
      <tr
        appTableRow
        [countryName]="country.official_name"
        *ngFor="
          let country of countryList
            | sort: sortType
            | pagination: limits[0]:limits[1]
            | filterBy: searchBy.value
        "
      >
        <td>
          {{ country.official_name }}
        </td>
        <td>
          {{ country.capital | arrayToString }}
        </td>
        <td>
          {{ country.region }}
        </td>
        <td>
          {{ country.language | objectValues | arrayToString }}
        </td>
        <td>
          {{ country.population }}
        </td>
        <td>
          {{ country.flag }}
        </td>
      </tr>
    </tbody>
    <hr />
    <tfoot>
      <button
        (click)="paginate(currentIndex - 1)"
        [disabled]="currentIndex === 0"
      >
        &lt;
      </button>
      <button
        (click)="paginate(currentIndex + 1)"
        [disabled]="limits[1] === countryList.length - 1"
      >
        &gt;
      </button>
    </tfoot>
  </table>
</ng-container>
